html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea{
	-webkit-appearance: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
}

html {
	-webkit-text-size-adjust: none;
}
@font-face {
font-family: 'tfutura';
src: url('https://static.tildacdn.com/125fa7cd-e930-4607-85b1-abea9b6ebfac/f300.woff') format('woff');
font-weight: 300;
font-style: light;
}
@font-face {
font-family: 'tfutura';
src: url('https://static.tildacdn.com/867998d3-8566-488c-a0dd-ca1c47b5140c/f400.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'tfutura';
src: url('https://static.tildacdn.com/8d9093ea-0cf0-4a47-a9e4-bf6562bf3497/f500.woff') format('woff');
font-weight: 500;
font-style: medium;
}
@font-face {
font-family: 'tfutura';
src: url('https://static.tildacdn.com/4eaa0cc4-4e05-4ce7-ac4f-9af79620576d/f600.woff') format('woff');
font-weight: 600;
font-style: semibold;
}
@font-face {
font-family: 'tfutura';
src: url('https://static.tildacdn.com/4eaa0cc4-4e05-4ce7-ac4f-9af79620576d/f600.woff') format('woff');
font-weight: 700;
font-style: bold;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: #fff;
	font-family: 'tfutura';
	min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

.t-btn td {
    vertical-align: middle;
}
input {
	outline: none !important;
}

input, textarea, button {
	font-family: 'tfutura';
}

img {
	max-width: 100%;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

a {
	color: #000;
	text-decoration: none;
}

.load-btn {
	background-image: url("../images/loader.gif") !important;
	background-repeat: no-repeat !important;
	background-position: 17px 11px !important;
}




/*subscribe*/
.te-subscribe__container {
	background-size: cover;
  padding: 70px 15px;
  background-position: center;
}

.te-subscribe__wrapper {
	max-width: 1081px;
	width: 100%;
	margin: 0 auto;
}

.te-subscribe__col-left {
	width: 52%;
	margin-right: 8%;
}

.te-subscribe__col-right {
	width: 40%;
	color: #fff;
}

.te-subscribe__col-left, .te-subscribe__col-right {
	float: left;
}

.te-subscribe__col-left img {
	width: 100%;
	display: block;
}

.te-subscribe__title {
	text-align: center;
	color: #ffee00;
	font-size: 56px;
	font-weight: 300;
	margin-bottom: 65px;
}

.te-subscribe__description {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.44;
	margin-bottom: 50px;
}

.te-subscribe__description strong {
	font-weight: 700;
}

.te-subscribe__description span {
  color: #ffee00;
}

.te-subscribe__buttons {
	margin-bottom: 50px;
}

.te-subscribe__btn {
	font-size: 18px;
	background: #ffee00;
	border-radius: 100px;
	padding: 16px 26px 14px;
	display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.te-subscribe__btn_white {
    background: #fff;
}

.te-subscribe__hint {
	font-size: 16px;
	color: #737373;
	max-width: 380px;
	line-height: 1.3;
}

.te-subscribe__hint a {
	color: #ccbe00;
}


/*mainpage*/

.te-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.te-header__wrapper {
	background: #000;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.te-header__nav__item .te-logo {
  padding: 0;
}

.te-logo__img {
  height: 35px;
  display: inline-block;
  margin-top: 12px;
  vertical-align: top;
  margin-right: 16px;
}

.te-logo__waves {
  height: 60px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.te-logo__name {
  margin-top: 22px;
  display: inline-block;
}
.te-logo__name__mobile {
    display: none;
}
.te-header__nav {
	display: inline-block;
	vertical-align: top;
}

.te-header__nav__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
}

.te-header__nav__item a {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	padding: 22px 0 17px;
	display: block;
}
.te-header__nav__item a.te-logo {
	display: inline;
}
.te-header__nav__item a.te-logo__text {
	display: inline;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1.6px;
	line-height: 20px;
}

.te-header__dropdown__img {
  display: none;
}

.te-header__dropdown_opened .te-header__dropdown__img, .te-header__bookmarks_opened .te-header__bookmark__img {
	opacity: 0;
}

.te-header__dropdown__img_black {
	width: 7px;
	position: absolute;
  top: 28px;
  right: 18px;
	opacity: 0;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-header__bookmark__img_black {
  width: 12px;
  top: 24px;
  left: 15px;
	position: absolute;
	opacity: 0;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-header__bookmarks_opened .te-header__bookmark__img_black {

}

.te-header__dropdown_opened .te-header__dropdown__img_black, .te-header__bookmarks_opened .te-header__bookmark__img_black {
	opacity: .95;
}

.te-header__dropdown_opened .te-header__dropdown__img_black:hover, .te-header__bookmarks_opened .te-header__bookmark__img_black:hover {
	opacity: .5;
}

.te-header__dropdown__arrow {
  width: 30px;
  margin: 26px 9px 0 9px;
}

.te-header__dropdown__link {
	padding: 22px 33px 21px 16px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  position: relative;
}

.te-header__dropdown__link:after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #ffee00 transparent transparent transparent;
  position: absolute;
  top: 30px;
  right: 17px;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-header__dropdown_opened .te-header__dropdown__link:after {
  opacity: 0;
}

.te-header__dropdown_opened .te-header__dropdown__link {
	background: #fff;
	color: #222;
}

.te-header__dropdown_opened .te-header__dropdown__link:hover {
	background: #fff;
}

.te-header__dropdown__link:hover {
	background: rgba(255,255,255,.1);
}

.te-header__dropdown__link span {
	margin-top: 1px;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
}

.te-header__dropdown_opened {
	overflow: hidden;
}

.te-header__dropdown__container {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	overflow: scroll;
	z-index: -1;
	opacity: 0;
	height: 0;
	-webkit-transition: opacity ease-in-out 0.15s;
  -moz-transition: opacity ease-in-out 0.15s;
  -o-transition: opacity ease-in-out 0.15s;
  transition: opacity ease-in-out 0.15s;
}

.te-header__dropdown_opened .te-header__dropdown__container {
	z-index: 99999;
	opacity: 1;
	height: 100%;
}

.te-header__dropdown_opened .te-header__bookmars .te-header__dropdown__container {
	z-index: -1;
	opacity: 0;
	height: 0;
}

.te-header__bookmarks_opened .te-header__bookmars .te-header__dropdown__container {
	z-index: 99999;
	opacity: 1;
	height: 100%;
}

.te-header__bookmarks_opened .te-header__dropdown__container {
	z-index: -1;
	opacity: 0;
	height: 0;
}

.te-header__dropdown__wrapper {
	max-width: 640px;
	margin: 0 auto;
	padding: 100px 15px 120px;
}

.te-header__dropdown__wrapper ul {
	list-style-type: none;
	margin-bottom: 70px;
}

.te-header__dropdown__title {
	font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #444;
}

.te-header__dropdown__item.te-header__dropdown__item_active a {
	color: #fd4800;
}

.te-header__dropdown__link__name {
  display: none;
}

.te-header__dropdown__item a {
	color: #222;
  font-size: 26px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  border-top: 1px solid #eee;
  padding: 28px 0 26px;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  position: relative;
  padding-left: 47px;
}

.te-header__dropdown__item a:hover {
	color: #fd4800;
}

.te-header__dropdown__item__number {
  background: #eee;
  color: #222;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 9.5px 11px 8.4px 12px;
  position: absolute;
  top: 25px;
  left: 0;
}

.te-header__dropdown__item_active .te-header__dropdown__item__number {
  background: #fd4800;
  color: #fff;
}

.te-header__userbar {
	position: absolute;
	right: 0;
	top: 0;
}

.te-header__bookmarks__link {
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  padding: 22px 15px 21px 17px;
}

.te-header__bookmarks__link:hover {
	background: rgba(255,255,255,.1);
}

.te-header__bookmarks_opened .te-header__bookmarks__link {
	background: #fff;
}

.te-header__bookmarks__link .te-header__bookmark__img {
	width: 10px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: top;
	opacity: .95;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-header__bookmarks__link span {
	color: #fff;
	display: inline-block;
	margin-top: 1px;
}

.te-header__bookmarks_opened .te-header__bookmarks__link span {
	color: #222;
}

.te-header__bookmark__title {
	font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 8px;
  color: #888;
}

.te-header__bookmarks_opened {
	overflow: hidden;
}

.te-header__bookmark__descr {
	color: #222;
  font-size: 32px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-header__dropdown__item .te-header__bookmark__link:hover .te-header__bookmark__descr {
	color: #fd4800;
}

.te-header__dropdown__item a.te-header__bookmark__link {
	padding: 32px 0 27px;
	border-top: 1px solid #eee;
	display: block;
}

.te-header__usermenu {
	width: 60px;
}

.te-header__usermenu__link {
	padding: 15px 18px 15px 16px;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  display: block;
  cursor: pointer;
}

.te-header__usermenu__wrapper {
	display: none;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  list-style-type: none;
  background: #fff;
  padding: 22px 26px 20px;
  position: absolute;
  right: 0;
  min-width: 185px;
}

.te-header__usermenu__item {
	display: block;
	margin-bottom: 16px;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-header__usermenu__item a:hover { color: #fd4800; }

.te-header__usermenu__item:last-child {
	margin-bottom: 0;
}

.te-header__usermenu__active .te-header__usermenu__wrapper {
	display: block;
}

.te-header__usermenu__avatar {
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center;
	border-radius: 100px;
}

.te-header__userbar__item {
	display: inline-block;
	vertical-align: top;
}

/*content*/

.te-grid__container {
	padding-top: 60px;
}

.te-grid__container  .cover_carier {
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.te-grid__container .filteropacity {
    height: 100%;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.40));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.40));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.40));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.40));
    background-image: linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.40));

    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.te-grid__topslide {
	background-size: cover;
	background-position: top center;
	text-align: center;
	padding: 0 15px;
	position: relative;
}

.te-grid__topslide__author {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2;
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.te-grid__topslide__title {
	font-size: 48px;
	color: #ffee00;
	font-weight: 500;
	margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.te-grid__topslide__descr {
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
    letter-spacing: 0;
	max-width: 800px;
	margin: 0 auto 45px;
	color: #fff;
}

.te-grid__topslide__center {
	position: absolute;
	top: 50%;
  right: 15px;
  left: 15px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 780px;
  margin: 0 auto;
}

.w200 {
    width: 200px;
    box-sizing: border-box;
}

@-webkit-keyframes bottom {
  0%   {
  	-moz-transform: rotate(135deg) translateY(0);
	  -ms-transform: rotate(135deg) translateY(0);
	  -webkit-transform: rotate(135deg) translateY(0);
	  -o-transform: rotate(135deg) translateY(0);
	  transform: rotate(135deg) translateY(0);
  }
  50%   {
  	-moz-transform: rotate(135deg) translateY(-5px);
	  -ms-transform: rotate(135deg) translateY(-5px);
	  -webkit-transform: rotate(135deg) translateY(-5px);
	  -o-transform: rotate(135deg) translateY(-5px);
	  transform: rotate(135deg) translateY(-5px);
  }
  100%   {
  	-moz-transform: rotate(135deg) translateY(0);
	  -ms-transform: rotate(135deg) translateY(0);
	  -webkit-transform: rotate(135deg) translateY(0);
	  -o-transform: rotate(135deg) translateY(0);
	  transform: rotate(135deg) translateY(0);
  }
}

@keyframes bottom {
  0%   {
  	-moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	  -o-transform: translateY(0);
	  transform: translateY(0);
  }
  50%   {
  	-moz-transform: translateY(-8px);
	  -ms-transform: translateY(-8px);
	  -webkit-transform: translateY(-8px);
	  -o-transform: translateY(-8px);
	  transform: translateY(-8px);
  }
  55%   {
  	-moz-transform: translateY(-8px);
	  -ms-transform: translateY(-8px);
	  -webkit-transform: translateY(-8px);
	  -o-transform: translateY(-8px);
	  transform: translateY(-8px);
  }
  100%   {
  	-moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	  -o-transform: translateY(0);
	  transform: translateY(0);
  }
}

.te-grid__topslide-arrow__wrapper {
	animation: bottom 1.2s infinite ease;
	bottom: 30px;
  right: 0;
  left: 0;
  position: absolute;
  -webkit-transition: opacity ease-in-out 0.15s;
  -moz-transition: opacity ease-in-out 0.15s;
  -o-transition: opacity ease-in-out 0.15s;
  transition: opacity ease-in-out 0.15s;
}

.te-grid__topslide-arrow__wrapper_hidden {
  opacity: 0;
}

.te-grid__topslide-arrow {
  display: block;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  background: transparent;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.te-grid__faq {
	padding: 0 15px;
	background: #ffee00;
}

.te-grid__wrapper {
	max-width: 1085px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 45px;
}

.te-grid__faq__title {
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	color: #222;
	margin-bottom: 55px;
}

.te-grid__faq__numbers {
	list-style: none;
	border-bottom: 2px solid #f3e300;
	padding-bottom: 60px;
}

.te-grid__faq__col {
	width: 30%;
	text-align: center;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
}

.te-grid__faq__col:last-child {
	margin-right: 0;
}

.te-grid__faq__number {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 7px;
}

.te-grid__faq__descr {
	font-size: 18px;
	line-height: 1.3;
}

.te-grid__faq__info {
	text-align: center;
	font-weight: 300;
	font-size: 26px;
	line-height: 1.3;
	max-width: 900px;
	margin: 20px auto 60px;
}

.te-grid__faq__nav {
	text-align: center;
}

.te-grid__faq__nav span {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 6px;
	display: block;
}

.te-grid__faq__arrow {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background: transparent;
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	-moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.te-grid-charpter-container {
	background: #ededed;
	padding: 98px 15px 65px;
}

.te-grid__charpter {
	text-align: center;
	max-width: 1085px;
  margin: 0 auto;
  margin-bottom: 84px;
}

.te-grid__posts__wrapper {
  max-width: 1085px;
  margin: 0 auto;
}

.te-grid__charpter__number {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 28px;
}

.te-grid__charpter__title {
	font-size: 60px;
	font-weight: 300;
	max-width: 900px;
	margin: 0 auto 32px;
}

.te-grid__charpter__descr {
	font-size: 20px;
	line-height: 1.3;
	font-weight: 300;
	max-width: 900px;
	margin: 0 auto;
}

.te-grid__charpter-one__container {
	background-color: #46daca;
	height: 650px;
	background-size: cover;
	position: relative;
	padding: 0 15px;
	background-position: center;
}

.te-grid__charpter-one__center {
	text-align: center;
	max-width: 720px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -103px;
	margin-left: -360px;
}

.te-grid__charpter-one__title {
	font-size: 67px;
	line-height: 1;
	color: #fff;
	font-weight: 300;
	margin-bottom: 22px;
}

.te-grid__charpter-one__descr {
	font-size: 18px;
	color: #fff;
	line-height: 1.3;
	font-weight: 300;
}


.te-grid__post {
	position: relative;
	width: 48%;
	margin-right: 4%;
	text-align: center;
	height: 620px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 64%;
  margin-bottom: 42px;
  overflow: hidden;
  float: left;
}

.te-grid__post:nth-child(2n) {
	margin-right: 0;
}

.te-grid__post__link {
	display: block;
	width: 100%;
	height: 100%;
  overflow: hidden;
  text-align: center;
  background: transparent;
}

.te-grid__post__btn__wrapper {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background: rgba(0,0,0,.2);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
  background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
  opacity: 0;
}

.te-grid__post__link:hover .te-grid__post__btn__wrapper {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.te-grid__post__link:hover .te-grid__post__btn {
	top: 70%;
}

.te-grid__post__btn {
	position: absolute;
	top: 72%;
	background: #fff;
	padding: 18px 20px 16px;
	border-radius: 100px;
	font-size: 24px;
	left: 0;
	right: 0;
	width: 90px;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-grid__post__number {
	font-weight: 500;
	font-size: 20px;
	background: rgba(255,255,255,.6);
	width: 42px;
	height: 42px;
	border-radius: 100px;
	padding-top: 13px;
  text-align: center;
  width: 42px;
  height: 29px;
  margin: 0 auto 31px;
}

.te-grid__author_wrapper {
    box-sizing: border-box;
    padding: 100px 140px;
    background: #EDEDED;
}

.te-grid__author__subtitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.te-grid__author__title {
    font-size: 42px;
    font-weight: 100;
    letter-spacing: 0;
    margin-bottom: 27px;
}
.te-grid__author__descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0;
}
.te-grid__author__descr b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
}
.te-grid__author_photo {
    width: 260px;
    display: inline;
    float: left;
}
.te-grid__author__info {
    margin-left: 300px;
}

.te-grid__post__info {
	padding: 50px 20px 20px;
}

.te-grid__post__title {
	font-size: 38px;
	line-height: 1;
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
	padding: 0 20px;
}
.te-grid__post__text {
	color: #222222;
	font-family: "tfutura",futura-pt;
	font-size: 62px;
	font-weight: 300;
	line-height: 72px;
	margin-top: 62px;
	padding: 0px 30px;
}

.te-grid__post__descr {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
	position: absolute;
	bottom: 50px;
	left: 40px;
	right: 40px;
}

.te-grid__post__100.te-grid__post {
	width: 100%;
	margin-right: 0;
	background-position: center;
	background-size: cover;
}

.te-grid__post__100 .te-grid__post__info {
 position: absolute;
 top: 49%;
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%);
 margin-top: 0;
 left: 0;
 right: 0;
 max-width: 660px;
 margin: 0 auto;
 padding: 15px;
}

.te-grid__post__100 .te-grid__post__link:hover .te-grid__post__btn {
 top: 82%;
}

.te-grid__post__100 .te-grid__post__btn {
 top: 84%;
}

.te-grid__post__100 .te-grid__post__title {
	font-size: 60px;
	line-height: 1.1;
}

.te-grid__post__100 .te-grid__post__descr {
	position: relative;
	max-width: 450px;
	margin: 30px auto 0;
	bottom: auto;
	left: auto;
	right: auto;
}

.te-grid__post__empty {
	position: absolute;
	top: 75%;
	left: 0;
	right: 0;
	color: #222;
	font-size: 21px;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.te-grid__post__link:hover .te-grid__post__empty {
  top: 73%;
}

.te-grid__post__checkmark_stem {
  position: absolute;
  width: 2px;
  height: 12px;
  left: 11px;
  top: 6px;
}

.te-grid__post__checkmark_kick {
  position: absolute;
  width: 8px;
  height: 2px;
  left: 5px;
  top: 16px;
}

.te-grid__post__checkmark {
  position: absolute;
  top: 1px;
  right: 17px;
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  opacity: .7
}


.te-popup {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    position: fixed;
    display: none;
    width: 100%;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    background-attachment: fixed;
    overflow: scroll;


/*
    opacity: 0;
    z-index: -1;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    overflow: scroll;
    height: 100%;
*/
}
/*
.te-body_popup-opened .te-popup {
    display: block;
    opacity: 1;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: scroll;
} */

.te-popup__overlay {
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.te-body_popup-opened {
    overflow: hidden;
}

.te-popup__wrap {
    max-width: 500px;
    margin: 100px auto;
    background: #fff;
    text-align: center;
    width: 100%;
    position: relative;
}

.te-popup__header {
    background: #ffee00;
    padding: 45px 15px 37px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
}

.te-popup__info {
    padding: 0 15px;
}

.te-popup__description {
    text-align: center;
    font-size: 26px;
    color: rgba(0,0,0,.7);
    font-weight: 300;
  max-width: 400px;
  margin: 40px auto;
  line-height: 30px;
}

.te-popup__buttons {
    list-style: none;
}

.te-popup__btn {
    display: block;
    padding: 16px;
    background: #eee;
    color: #fff;
    border-radius: 100px;
    max-width: 400px;
    margin: 0 auto 20px;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.te-popup__btn__icon {
  width: 30%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin-top: 4px;
  height: 20px;
}

.te-popup__btn__icon img {
    display: block;
    height: 15px;
    margin-left: auto;
    margin-right: 10px;
}

.te-popup__btn span {
  width: 63%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.te-popup__btn:hover {
    opacity: .8;
}

.te-popup__btn-fb {
    background: #425697;
}

.te-popup__btn-tw {
    background: #41acea;
}

.te-popup__btn-vk {
    background: #57799e;
}

.te-popup__btn-google {
    background: #dd4b39;
}

.te-popup__btn-tilda {
	background: #000000;
}

.te-popup__btn-google img {
    margin-right: 14px;
}

.te-popup__hint {
    font-size: 14px;
    border-top: 1px solid #cecece;
    padding: 27px 15px 26px;
    color: rgba(0,0,0,.7);
    margin-top: 52px;
}

.te-popup__close {
    width: 16px;
    height: 16px;
    position: fixed;
    right: 15px;
    top: 15px;
}

.te-popup__close img {
    display: block;
    width: 100%;
}

/*registration*/
.te-registration__header {
    background: #ffee00;
    padding: 43px 15px 39px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.te-registration__form {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  max-width: 600px;
  position: absolute;
  top: 50%;
  margin-top: -86px;
  width: 100%;
  left: 0;
  right: 0;
}

.te-form-group {
    padding: 0 15px;
}

.te-registration__label, .te-registration__input, .te-registration__btn {
    display: block;
}

.te-registration__label {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: rgba(0,0,0,.7);
  margin-bottom: 33px;
}

.te-registration__input {
    width: 100%;
    border: 1px solid #eee;
    color: #222;
    background: transparent;
    padding: 12px 0 10px;
    font-size: 48px;
    text-align: center;
    font-weight: 300;
  display: inline-block;
  max-width: 600px;
}

.te-registration__btn {
    display: block;
    padding: 16px;
    background: #ffee00;
    color: #222;
    border-radius: 100px;
    min-width: 200px;
    text-align: center;
    margin: 38px auto 0;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  border: none;
}

.te-registration__btn:hover {
    opacity: .7;
}


/*subscribe*/
.te-subscribe__container {
    background-size: cover;
  padding: 70px 15px;
  background-position: center;
}

.te-subscribe__wrapper {
    max-width: 1081px;
    width: 100%;
    margin: 0 auto;
}

.te-subscribe__col-left {
    width: 52%;
    margin-right: 8%;
}

.te-subscribe__col-right {
    width: 40%;
    color: #fff;
}

.te-subscribe__col-left, .te-subscribe__col-right {
    display: inline-block;
    vertical-align: top;
}

.te-subscribe__col-left img {
    width: 100%;
    display: block;
}

.te-subscribe__title {
    text-align: center;
    color: #ffee00;
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 65px;
}

.te-subscribe__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.44;
    margin-bottom: 50px;
}

.te-subscribe__description strong {
    font-weight: 700;
}

.te-subscribe__buttons {
    margin-bottom: 50px;
}

.te-subscribe__btn {
    font-size: 18px;
    background: #ffee00;
    border-radius: 100px;
    padding: 12px 26px 14px;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.te-subscribe__btn_white {
    background: #fff;
}

.te-subscribe__hint {
    font-size: 16px;
    color: #737373;
    max-width: 380px;
    line-height: 1.3;
}

.te-subscribe__hint a {
    color: #ccbe00;
}

.te-profile__wrapper {
 max-width: 600px;
 margin: 100px auto;
 text-align: center;
}

.te-profile__wrapper .te-registration__label {
 margin-bottom: 15px;
}

.te-profile__wrapper .te-form-group {
 margin-bottom: 40px;
}

.te-profile__cancel {
 font-size: 16px;
 color: #888;
 margin-top: 20px;
 display: block;
}

.te-profile__cancel a {
    color: #888;
}

/*footer*/
.te-footer__container {
 background: #000;
 text-align: center;
 padding: 60px 15px 54px;
}

.te-footer__wrapper {
 max-width: 1085px;
 margin: 0 auto;
}

.te-footer__text {
 color: rgba(255,255,255,.6);
 line-height: 1.25;
 margin-bottom: 6px;
}

.te-footer__text a {
 color: #ffee00;
}

.te-footer__logo {
 width: 80px;
 margin: 0 auto 20px;
}


.te-post__controls__container {
  background: #ededed;
  padding: 0 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.te-related__title {
  margin-top: 56px;
}

/*sharing*/

.te-sharing__container {
  padding: 20px 15px 65px;
}

.te-sharing__wrapper {
  max-width: 1085px;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}

.te-sharing__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.te-sharing__item:last-child {
  margin-right: 0;
}

.te-sharing__hint {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #888;
  text-align: center;
}

.te-share {
  border-radius: 100px;
  background: #999;
  padding: 12px 16px 10px;
  display: block;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.te-share:hover {
  opacity: .8;
}

.te-share__fb {
  background: #425697;
}

.te-share__vk {
  background: #57799e;
}

.te-share__tw {
  background: #41acea;
}

.te-share__img {
  height: 13px;
  display: inline-block;
  vertical-align: top;
}

.te-share__count {
  color: rgba(255,255,255,.8);
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  margin-top: 2px;
}



.te-bookmarks__link {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    opacity: 0;
    width: 40px;
    height: 30px;
}

.te-bookmarks__link img {
    width: 10px !important;
    display: block;
    margin: 0 auto;
}

.te-bookmarks__link_active .te-bookmarks__link {
    opacity: .9;
}

.te-bookmark__form {
    padding: 40px 0;
}

.te-registration__label.te-bookmark__label {
    font-size: 16px;
    margin-bottom: 4px;
}

.te-registration__input.te-bookmark__input {
    font-size: 24px;
}

.te-registration__btn.te-bookmark__btn {
    margin-top: 30px;
}

.r {
    position: relative;
}

.r:hover .te-bookmarks__link {
    opacity: 0.8;
}

.te-grid__container-withoutmenu {
    padding-top: 0px !important;
}

.te-grid__post {
    float: left;
}

.te-grid__topslide__center {
    max-width: 800px;
}

.te-grid__post__admin {
    position: absolute;
    top: 10px;
    left: 1%;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 98%;
    background: rgba(255, 255, 255, 0.5);
    color: #222222;
    line-height: 20px;
    font-size: 14px;
}
.te-grid__post__admin p {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.8);
}

.te-grid__post__admin .te-subscribe__btn {
    margin-bottom: 5px;
}
.te-grid__post:hover .te-grid__post__admin, .te-marketing__grid__item:hover .te-grid__post__admin{
    display: block !important;
}
.te-subscribe__btn {
    color: #333333 !important;
}

.te-popup__btn span {
    line-height: 19px;
}

/*
.te-popup_opened {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
*/

.te-popup__info .te-form-group {
    clear: both;
}
.te-popup__label {
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 16px;
    text-align: right;
    width: 30%;
}

.te-popup__control {
    border-color: -moz-use-text-color -moz-use-text-color #999999;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 14px;
    height: 27px;
    line-height: 20px;
    width: 300px;
}

.te-popup__textarea {
    border-color: -moz-use-text-color -moz-use-text-color #999999;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 14px;
    height: 80px;
    line-height: 20px;
    width: 300px;
}

.te-popup__label__checkbox {
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 16px;
    text-align: right;
    margin-left: 35%;
}

.te-promocodes__wrapper {
    margin: 100px auto;
    max-width: 960px;
    text-align: center;
}

.te-promocodes-list {
    width: 100%;
}
.te-promocodes-list thead {
    border-bottom: 2px solid #DDD;
}

.te-promocodes-list thead th {
    line-height: 30px;
    font-size: 20px;
    padding-bottom: 20px;
}

.te-promocodes-list tbody td {
    color: rgba(0, 0, 0, 0.7);
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.te-promocodes-list tbody td  small {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}

.te-promocodes-list tbody tr:nth-child(odd) {
    background: #EEE;
}

.te-promocodes__code {
    color: rgba(0, 0, 0, 0.7);
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.te-promocodes-shortlist {
    list-style: none;
    padding-left: 0px;
}

.education-cut {
    background: url(/img/post-cut.png) repeat-x;
    height: 380px;
    margin-top: -380px;
    position: relative;
    text-align: center;
	z-index: 5;
}
.education-cut > img {
    bottom: -25px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    text-align: center;
}

.tilda-btn table td {
    vertical-align: middle;
}

.te-post__controls__container__black {
    background: #191816 !important;
    border-bottom-color: #191816;
    border-top-color: #191816;
}
.te-post__controls__container__black .te-related__title {
    color: #E3DB3E !important;
}

.te-sharing__container__black {
    background: #191816 !important;
    border-bottom-color: #191816;
    border-top-color: #191816;
}

.te-sharing__container__black .te-sharing__hint {
    color: #FFFFFF;
}


.te-dropdown {
	position: relative;
}
.te-dropdown-body {
    display: none;
    background: #FFFFFF;
}
.te-dropdown:hover .te-dropdown-body {
    position: absolute;
    display: block;
    border: 1px solid #000000;
}

.te-dropdown:hover .te-dropdown-body a {
    display: inline-block;
    padding: 5px 10px;
    white-space: nowrap;
    font-weight: 300;
}

.t409__img {
    max-width: none !important;
}

@media screen and (max-width: 970px) {
  .te-subscribe__col-left {
    width: 46%;
    margin-right: 6%;
  }

  .te-subscribe__col-right {
    width: 48%;
  }

  .te-header__dropdown__link>span {
    width: 236px;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
  }
  .te-logo__name {
    display: inline-block;
    font-size: 12px;
    margin-top: 22px;
    width: 225px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
  }
  .te-grid__author_wrapper {
    padding: 90px 90px;
  }
  .te-grid__author_photo {
    width: 230px;
  }
  .te-grid__author__info {
    margin-left: 250px;
  }
  .te-grid__author__subtitle {
    margin-bottom: 19px;
  }
  .te-grid__author__title {
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 850px) {

  .te-grid__topslide__author {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .te-grid__topslide__title {
    font-size: 38px;
    margin-bottom: 16px;
  }

  .te-grid__topslide__descr {
    max-width: 590px;
    font-size: 18px;
    margin-bottom: 26px;
  }

  .te-subscribe__btn {
    font-size: 16px;
    padding: 14px 24px 12px;
  }

  .te-grid__faq__title {
    font-size: 44px;
    margin-bottom: 35px;
  }

  .te-grid__faq__numbers {
    padding-bottom: 45px;
  }

  .te-grid__wrapper {
    padding-top: 53px;
  }

  .te-grid__faq__number {
    font-size: 65px;
    margin-bottom: 0;
  }

  .te-grid__faq__descr {
    font-size: 16px;
  }

  .te-grid__faq__info {
    margin: 50px auto 47px;
    font-size: 18px;
  }

  .te-grid-charpter-container {
    padding: 65px 15px 15px;
  }

  .te-grid__charpter {
    margin-bottom: 50px;
  }

  .te-grid__charpter__number {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .te-grid__charpter__title {
    font-size: 48px;
    margin-bottom: 22px;
  }

  .te-grid__charpter__descr {
    font-size: 18px;
    max-width: 670px;
  }

  .te-grid__post {
    margin-bottom: 15px;
    width: 49%;
    margin-right: 2%;
    height: 460px;
  }

  .te-grid__post__info {
    padding: 34px 15px 20px;
  }

  .te-grid__post__number {
    font-size: 16px;
    padding-top: 10px;
    width: 34px;
    height: 24px;
    margin-bottom: 18px;
  }

  .te-grid__post__title {
    margin-bottom: 0;
    font-size: 32px;
    padding: 0;
  }

  .te-grid__post__text {
	padding: 0;
	font-size: 48px;
	margin-top: 40px;
	line-height: 50px;
  }

  .te-grid__post__descr {
    bottom: 20px;
    right: 15px;
    left: 15px;
    font-size: 14px;
  }

  .te-grid__post__btn {
    font-size: 18px;
    padding: 16px 12px 14px;
  }

  .te-grid__post__100.te-grid__post {
    height: 450px;
  }

  .te-grid__post__100 .te-grid__post__info {
    margin-top: 83px;
  }

  .te-grid__post__100 .te-grid__post__title {
    font-size: 46px;
  }

  .te-grid__post__100 .te-grid__post__descr {
    margin-top: 18px;
  }

  .te-subscribe__container {
    padding: 45px 15px 50px;
  }

  .te-subscribe__title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .te-subscribe__col-left {
    width: 43%;
    margin-right: 5%;
  }

  .te-subscribe__col-right {
    width: 52%;
  }

  .te-subscribe__description {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .te-subscribe__col-right .te-subscribe__btn {
    font-size: 14px;
    padding: 12px 20px 11px;
    margin-right: 10px;
  }

  .te-subscribe__buttons {
    margin-bottom: 24px;
  }

  .te-subscribe__hint {
    font-size: 14px;
  }

  .te-header__bookmarks__link {
    padding: 22px 17px 22px 17px;
  }

  .te-header__bookmarks__link span {
    display: none;
  }

  .te-header__bookmarks__link .te-header__bookmark__img {
    margin-right: 0;
  }

  .te-header__bookmark__img_black {
    left: 16px;
  }

  .te-logo__waves {
    display: none;
  }

  .te-logo__img {
    margin-right: 7px;
    margin-left: 13px;
  }

  .te-header__nav__item {
    margin-right: 13px;
  }

  .te-header__dropdown__arrow {
    margin: 28px 6px 0 6px;
    width: 24px;
  }

  .te-logo__name {
    font-size: 12px;
    margin-top: 22px;
  }

  .te-header__dropdown__link {
    padding: 23px 21px 21px 10px;
  }

  .te-header__dropdown__link span {
    font-size: 12px;
  }

  .te-header__dropdown__link:after {
    border-width: 3px 3px 0 3px;
    top: 31px;
    right: 9px;
  }

  .te-header__dropdown__img_black {
    top: 29px;
    right: 8px;
  }
}

@media screen and (max-width: 700px) {

  .te-header__dropdown__link span {
    display: none;
  }

  .te-header__dropdown__link__name {
    display: inline-block;
    font-size: 12px;
  }

  .te-header__dropdown__arrow {
    margin: 29px 3px 0 3px;
    width: 20px;
  }

  .te-header__usermenu {
    width: 50px;
  }

  .te-header__usermenu__link {
    padding: 15px 8px 15px 10px;
  }

  .te-header__bookmarks__link {
    padding: 22px 10px 22px 10px;
  }

  .te-header__bookmark__img_black {
    left: 9px;
  }

  .te-header__dropdown__wrapper {
    padding: 50px 15px 120px;
  }

  .te-header__dropdown__wrapper ul {
    margin-bottom: 30px;
  }

  .te-grid__author_wrapper {
    padding: 90px 90px;
  }
  .te-grid__author_photo {
    display: block;
    float: none;
    text-align: center;
    margin: 0px auto 20px; !important;
    clear: both;
  }
  .te-grid__author_photo img {
    width: 230px;
  }
  .te-grid__author__info {
    margin: 0px auto;
    display: block;
  }
  .te-grid__author__subtitle {
    margin-bottom: 19px;
    text-align: center;
  }
  .te-grid__author__title {
    margin-bottom: 19px;
    text-align: center;
  }

}

@media screen and (max-width: 670px) {
  .te-grid__topslide__center {
    max-width: 510px;
    margin: 0 auto;
  }

  .te-grid__topslide__author {
    font-size: 12px;
    margin: 0 auto 19px;
  }
  .te-grid__topslide__title {
    font-size: 35px;
    margin: 0 auto 19px;
  }

  .te-grid__topslide__descr {
    font-size: 16px;
  }

  .te-subscribe__btn {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

	.te-grid__post__text {
		font-size: 38px;
		margin-top: 0px;
		line-height: 40px;
	}
  .te-grid__post__title {
    font-size: 28px;
  }

  .te-grid__faq__title {
    font-size: 36px;
  }

  .te-grid__post {
    height: 420px;
  }
}


@media screen and (max-width: 614px) {
  .te-subscribe__col-left {
    display: none;
  }

  .te-logo__name {
    display: inline-block;
    font-size: 12px;
    margin-top: 22px;
    width: 225px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
  }

  .te-subscribe__col-right {
    width: 100%;
    text-align: center;
  }

  .te-subscribe__hint {
    max-width: 280px;
    margin: 0 auto;
  }

  .te-subscribe__description {
    max-width: 390px;
    margin: 0 auto 24px;
    font-size: 18px;
  }

  .te-subscribe__title {
    font-size: 36px;
  }

  .te-grid__author_wrapper {
    padding: 60px 60px;
  }

  .te-grid__author_photo img {
    width: 170px;
  }
}

@media screen and (max-width: 600px) {
    .te-registration__label {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .te-registration__input {
        font-size: 28px;
    }
    .te-registration__btn {
        font-size: 14px;
        margin-top: 30px;
    }
    .te-registration__form {
        margin-top: -66px;
    }

    .te-profile__wrapper {
        margin-top: 40px;
    }

    .te-sharing__hint {
      font-size: 10px;
    }

    .te-related__title.te-grid__faq__title {
      margin-top: 33px;
    }

}

@media screen and (max-width: 520px) {
  .te-grid__post {
    width: 100%;
    margin-right: 0;
    height: 470px;
  }

  .te-grid__post__descr {
    font-size: 14px;
  }
  .te-grid__post__text {
    color: #222222;
    font-family: "tfutura",futura-pt;
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;
   }
  .te-grid__faq__title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .te-grid__faq__col {
    width: 100%;
    margin-right: 0;
    text-align: left;
    position: relative;
    height: 36px;
    margin-bottom: 25px;
  }

  .te-grid__faq__number {
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .te-grid__faq__descr {
    font-size: 16px;
    line-height: 1.1;
    padding-left: 60px;
  }

  .te-grid__faq__numbers {
    padding-bottom: 10px;
  }

  .te-grid__faq__info {
    font-size: 16px;
    text-align: left;
    margin: 33px auto;
  }

  .te-grid-charpter-container {
    padding-top: 45px;
  }

  .te-grid__charpter__number {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .te-grid__charpter__title {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .te-grid__charpter__descr {
    font-size: 16px;
  }

  .te-grid__charpter {
    margin-bottom: 33px;
  }

  .te-grid__post__100 .te-grid__post__title {
    font-size: 32px;
  }

  .te-header__dropdown__item a {
    padding: 18px 0 16px;
    padding-left: 33px;
    font-size: 18px;
  }

  .te-header__dropdown__item__number {
    padding: 6px 7px 4px 8.2px;
    top: 16px;
  }

  .te-header__bookmark__title {
    font-weight: 400;
    font-size: 10px;
  }

  .te-header__bookmark__descr {
    font-size: 24px;
  }

  .te-header__bookmark__link {
    padding: 26px 0 18px;
  }
}

@media screen and (max-width: 500px) {
    .te-popup__wrap {
        position: relative;
        top: auto;
        margin-top: 50px;
        max-width: 290px;
    }

    .te-popup__header {
        font-size: 16px;
        padding: 28px 15px 21px;
    }

    .te-popup__description {
        text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,.7);
    font-weight: 300;
    max-width: 400px;
    margin: 21px auto 20px;
    line-height: 20px;
    }

    .te-popup__btn {
        font-size: 14px;
        padding: 11px 15px 10px;
        margin-bottom: 10px;
    }

    .te-popup__btn__icon img {
        height: 11px;
    }

    .te-popup__btn span {
        margin-left: -5px;
    }

    .te-popup__btn__icon {
        width: 19%;
    }

    .te-popup__hint {
        font-size: 12px;
    border-top: 1px solid #cecece;
    padding: 13px 15px 12px;
    color: rgba(0,0,0,.7);
    margin-top: 23px;
    }
}

@media screen and (max-width: 485px) {
  .te-grid__topslide__author {
    max-width: 260px;
    font-size: 10px;
    margin: 0 auto 19px;
  }
  .te-grid__topslide__title {
    max-width: 260px;
    font-size: 28px;
    margin: 0 auto 19px;
  }

  .te-grid__post {
    height: 400px;
  }

  .te-logo__name {
    display: none;
  }

  .te-logo__name__mobile {
    display: inline-block;
    font-size: 13px;
    margin-top: 22px;
  }

  .te-subscribe__description {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .te-header__bookmars {
    display: none;
  }

  .te-header__wrapper {
    height: 50px;
  }

  .te-logo__img {
    height: 26px;
    margin-left: 10px;
    margin-right: 4px;
  }

  .te-logo__name {
    display: none;
  }

  .te-logo__name__mobile {
    display: inline-block;
    font-size: 13px;
    margin-top: 17px;
  }

  .te-header__dropdown__arrow {
    margin: 24px 0 0 6px;
  }

  .te-header__nav__item {
    margin-right: 2px;
  }

  .te-header__dropdown__link {
    padding: 18px 21px 16px 10px;
  }

  .te-header__dropdown__img_black {
    top: 23px;
  }

  .te-header__dropdown__link:after {
    top: 26px;
  }

  .te-header__usermenu {
    width: 41px;
  }

  .te-header__usermenu__link {
    padding: 14px 8px 14px 10px;
  }

  .te-header__usermenu__avatar {
    width: 22px;
    height: 22px;
  }

  .te-grid__container {
    padding-top: 50px;
  }

  .te-grid__topslide__center {
    top: 46%;
  }

  .te-header__dropdown__container {
    top: 50px;
  }
}



.te-marketing__grid {
  padding: 60px 20px;
  background: #f5f4f0;
}

.te-marketing__grid:after, .te-marketing__grid:before {
  content: '';
  display: table;
  clear: both;
}

.te-marketing__grid__item {
  display: block;
  max-width: 960px;
  margin: 0 auto 30px;
  background: #fff;
  min-height: 500px;
  position: relative;
}

.te-marketing__grid__item:last-child {
  margin-bottom: 0;
}

.te-marketing__grid__item_gray {
  background: #e1e1e1;
}

.te-marketing__grid__title {
  font-size: 55px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222;
  margin-bottom: 26px;
}

.te-marketing__grid__smalltitle {
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -1px;
  color: #898989;
  font-weight: 100;
  margin-bottom: 23px;
}

.te-marketing__grid__descr {
  color: #555;
  font-size: 18px;
  line-height: 26px;
  font-weight: 100;
  margin-bottom: 30px;
}

.te-marketing__grid__btn {
  border: 2px solid #222;
  padding: 16px 28px 15px;
  font-size: 16px;
  font-weight: 900;
  border-radius: 100px;
  display: inline-block;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.te-marketing__grid__link:hover .te-marketing__grid__btn {
  background: #222;
  color: #fff;
}

.te-marketing__grid__check {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  width: 30px;
}

.te-marketing__grid__check__img {
  display: block;
  width: 100%;
}

.te-marketing__grid__textwrapper {
  padding: 60px 0 60px 60px;
}

.te-marketing__grid__imgwrapper {
  padding: 0 40px 0 30px;
}

.te-marketing__grid__img {
  display: block;
  width: 100%;
}

.te-marketing__grid__col {
  display: inline-block;
  vertical-align: middle;
}

.te-marketing__grid__col_left {
  width: 54%;
}

.te-marketing__grid__col_right {
  width: 45%;
}

.te-marketing__grid__col__mobile {
  display: none;
}


@media screen and (max-width: 960px) {
  .te-marketing__grid__title {
    font-size: 50px;
  }

  .te-marketing__grid__textwrapper {
    padding-left: 50px;
  }

  .te-marketing__grid__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .te-marketing__grid__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 18px;
  }

  .te-marketing__grid__smalltitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px;
  }

  .te-marketing__grid__descr {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .te-marketing__grid__textwrapper {
    padding: 40px 0 40px 40px;
  }

  .te-marketing__grid__item {
    min-height: 380px;
  }

  .te-marketing__grid__imgwrapper {
    padding: 0 30px;
  }

  .te-marketing__grid__btn {
    font-size: 14px;
    padding: 13px 22px 13px;
  }
}

@media screen and (max-width: 730px) {
  .te-marketing__grid__textwrapper {
    padding: 30px 0 30px 30px;
  }

  .te-marketing__grid__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .te-marketing__grid__smalltitle {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 12px;
  }

  .te-marketing__grid__descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 18px;
  }

  .te-marketing__grid__item {
    min-height: 300px;
  }
}

@media screen and (max-width: 650px) {
  .te-marketing__grid__col {
    width: 100%;
    text-align: center;
  }

  .te-marketing__grid__col_right {
    display: none;
  }

  .te-marketing__grid__col__mobile {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }

  .te-marketing__grid__imgwrapper {
    padding: 50px 30px 30px;
  }

  .te-marketing__grid__textwrapper {
    padding: 0 30px 30px;
  }

  .te-marketing__grid__check {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .te-marketing__grid__col__mobile {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }

  .te-marketing__grid__imgwrapper {
    padding: 50px 30px 30px;
  }

  .te-marketing__grid__textwrapper {
    padding: 0 20px 24px;
  }

  .te-marketing__grid__smalltitle {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .te-marketing__grid__check {
    display: none;
  }

  .te-marketing__grid__title {
    font-size: 26px;
    line-height: 28px;
  }

  .te-marketing__grid__descr {
    margin-bottom: 18px;
  }

  .te-marketing__grid__imgwrapper {
    padding: 30px 20px 20px;
  }

  .te-marketing__grid__col__mobile {
    max-width: 200px;
  }

  .te-marketing__grid__btn {
    font-size: 13px;
    padding: 14px 21px 12px;
  }
}


.te-marketing-card-in-foter {
    position: absolute; width: 140px; height: 140px; top: 0px; left: 25%;
}
.te-marketing-card_discount {
    color: #FFFFFF; position: absolute; font-weight: bold; font-size: 36px; top: 50%; left: 50%; margin-left: -41px; margin-top: -20px;
}

.t374__col-left {
    float: left;
}

.t459__icon {
	max-width: none;
}

/* language select dropdown */
div.t456 > div > div > ul > li:last-child > div > div,
div.t456__rightwrapper.t456__menualign_right > ul > li:last-child > div > div
{
	width: 60px;
}
